$blue: #1e243c;
$grey: #767676;
$typoSerif:"Playfair Display", serif;
$typoSansSerif: "Lato", sans-serif;


.bloc__produit {
  margin-top: 5%;


    // &__fond {
    //   position: absolute;
    //   opacity: 0.1;
    //   background: #616576;
    //   height: 70%;
    //   width: 25%;
    //
    // }

    // &__titre {
    // /* Délices: */
    // position: absolute;
    // left: -10%;
    // transform: rotate(-90deg);
    // font-family: PlayfairDisplay-Bold;
    // font-size: 8rem;
    // text-transform: uppercase;
    // color: #FFFFFF;
    // }

    &__boite img{
    	width: 100%;
      margin-top: 20%;
    }

    &__texte {
    	width: 80%;
    	height: auto;
    	background-color: #FFFFFF;
      margin-top: 10%;
    	margin: auto;
      text-align: center;


        &__surtitre {
          font-size: 0.8rem;
          text-transform: uppercase;
          font-family: PlayfairDisplay-Regular;
          color: $grey;
          padding-top: 3rem;
        }
        &__trait {
          width: 23px;
          height: 1px;
          margin: auto;
          background: #767676;
        }
        h4 {
          font-size: 2rem;
          text-transform: uppercase;
          color: $blue;
          font-family: $typoSansSerif;
          font-weight: bold;
        }

        p {
          font-size: 1rem;
          font-family: $typoSansSerif;
          font-weight: lighter;
          color: $blue;
          letter-spacing: 0;
          line-height: 24px;
        }
    }
}
