# GLOBAL
.DS_Store
ehthumbs.db
Thumbs.db
.todo
yarn.lock


# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules


# IDE
*.sublime-workspace
*.sublime-project
.idea
.idea/workspace.xml
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml

# Build
dist
