.footer {
    width: 100%;
    padding: 50px 0 22px;
    background-color: $blue;


    &__icons {
        display: flex;
        justify-content: center;
        padding: 8px;

        a {
            display: block;
            text-decoration: none;
            margin: 0 10px;
            opacity: .8;
            transition: .3s;

            &:hover {
                opacity: 1;
            }
        }

        svg {
            width: 38px;
            height: auto;
            margin: 0 2% 0 2%;
        }
    }

    p {
        color: white;
        font-family: $typoSerif;
        font-size: 0.9rem;
        text-align: center;
    }
}
