.popup {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.98);
    box-sizing: border-box;
    padding: 3%;
    margin: auto;
    overflow: hidden;
    visibility: hidden;
    transform: translate(0, 100%);
    transition: .3s;

    &.active {
        visibility: visible;
        transform: translate(0);
    }

    @include medium {
        width: 100vw;
    }

    @include large {
        width: 100vw;
        height: 100vh;
    }

    &__blocText {
        display: flex;
        flex-direction: column;
        margin-top: 8vh;

        @include medium {
            width: 50%;
            margin-top: 5%;
        }
    }

    &__image {
        position: relative;
        height: 35vh;
        margin: -20% auto auto;

        img {
            width: 65%;
            position: absolute;
            transform-origin: center;
            right: 20%;
            top: 40%;
        }

        @include medium {
            background-color: #EFEFF1;
            opacity: 0.9;
            height: 100%;
            width: 45%;
            position: absolute;
            transform-origin: top right;
            right: 0;
            top: 0;
            margin: 0;

            img {
                width: 65%;
                position: absolute;
                transform-origin: center;
                right: 20%;
                top: 30%;
            }
        }
    }

    &__number {
        position: absolute;
        transform-origin: top right;
        right: 20%;
        z-index: -1;

        p {
            font-family: $typoSerif;
            font-size: 15rem;
            color: $blue;
            opacity: 0.2;
            margin: 0;

            @include medium {
                font-size: 40rem;
                overflow: hidden;
            }

            @include large {
                font-size: 45rem;
            }
        }

        @include medium {
            top: -20%;
        }

        @include large {
            top: -25%;
        }
    }

    &__text {
        margin-top: 2vh;
        padding: 5px;

    }

    &__bigTitle {
        display: none;

        p {
            margin: 0;
        }

        @include medium {
            font-size: 5rem;
            font-weight: bolder;
            margin: 5% 0 0 5%;

            @include bigTitle;
        }

        @include large {
            margin-top: 0;

            @include bigTitle;
        }
    }

    &__surtitle {
        @include surtitle;
        width: 100%;
        margin: 0;

        &:after {
            margin-top: 5%;
            bottom: 5px;
            left: -25px;

            @include medium {
                left: -50px;
            }
        }

        @include medium {
            font-size: 1.2rem;
        }

        @include large {
            font-size: 1rem;
        }
    }

    h4 {
        @include title;
        text-align: left;
        font-size: 1.4rem;
        width: 98%;
        margin-top: 2vh;

        @include medium {
            font-size: 1.6rem;
        }
    }

    h5 {
        @include littleTitle;
    }

    &__content {
        font-family: $typoSansSerif;
        font-size: 0.9rem;
        color: $blue;
        line-height: 24px;
        font-weight: lighter;
        width: 90%;

        @include medium {
            font-size: 1rem;
        }

        @include large {
            font-size: 1.2rem;
        }
    }

    &__price {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 50%;
        transform-origin: center;

        h4 {
            width: 40%;
            margin-left: 0;
        }

        a {
            text-decoration: none;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-family: $typoSansSerif;
            font-weight: bold;
            color: $blue;
            margin-top: 2vh;
            margin-top: 5px 0 0 5%;
            text-align: center;

            &:hover {
                opacity: 0.5;
                font-size: 1.3rem;
            }
        }
    }


    &__button {
        display: none;
    }

    @include medium {
        &__button {
            display: block;
            position: absolute;
            top: calc(50% - 50px);
            left: calc(55.1% - 25px);
            display: flex;
            flex-direction: column;
            z-index: 3;
        }

        &__prev, &__next {
            font-size: 2.4rem;
            color: white;
            background-color: $blue;
            text-decoration: none;
            z-index: 3;
            transform: rotate(90deg);
            text-align: center;
            font-family: $typoSansSerif;
            cursor: pointer;
            padding: 0px 16px 7px;
            transition: .3s;

            &:hover {
                background: rgba($blue, .65);
                transform: rotate(90deg) translate(-6px, 0);
            }
        }

        &__next {
            font-size: 2.4rem;
            color: white;
            background-color: $blue;
            text-decoration: none;
            z-index: 3;
            transform: rotate(90deg);
            text-align: center;
            font-family: $typoSansSerif;
            cursor: pointer;
            padding: 0px 16px 7px;
            transition: .3s;

            &:hover {
                background: rgba($blue, .65);
                transform: rotate(90deg) translate(6px, 0);
            }
        }
    }

    &__close {
        position: absolute;
        color: black;
        right: 10%;
        top: 5%;
        font-size: 40px;
        font-weight: 600;
        cursor: pointer;
        transition: .2s;

        @include large {
            right: 8%;
            top: 5%;
            color: black;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}
