.gamme {

    background-color: #FAFAFA;

    &__container {
        @include container;
    }

    &__surtitle {
        text-align: center;
        padding-top: 0;
        margin-bottom: 2%;

        @include surtitle;

        p {
            margin-bottom: 1%;
        }
    }

    &__title {
        @include title;

        @include medium {
            width: 90%;
        }

        p {
            margin: 0;
        }
    }

    &__trait {
        @include trait;
    }

    &__produit {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__presentation {
        width: 50%;
        margin-top: 5%;
        padding-bottom: 10px;
        text-align: center;
        transition-timing-function: cubic-bezier(0.01, 0.28, 0.99, 0.48);
        transition-property: opacity;
        cursor: pointer;
        transition: .2s;

        @include medium {
            width: 30%;
        }

        &:after {
            content: "En savoir plus";
            font-family: $typoSansSerif;
            font-size: 0.8rem;
            color: $blue;
            letter-spacing: 0;
            line-height: 24px;
            margin-top: -10%;
            opacity: 0;
            transition: .3s;
            transition-delay: .1s;

            @include medium {
                font-size: 0.8rem;
            }
        }

        &:hover {
            transform: scale(1.15);
            background-color: rgba(32, 29, 96, 0.05);

            &:after {
                opacity: 1;
                transition-delay: 0;

                @include medium {
                    font-size: 0.8rem;
                }
            }
        }
    }

    &__name {
        @include littleTitle;

        h3 {
            margin-bottom: 4px;
        }

        p {
            margin: 7% 2% 2%;
        }

        &:active {
            color: black;
        }
    }

    img {
        width: 85%;

        @include medium {
            width: 75%;
        }
    }

    &__knowMore {
        font-family: $typoSansSerif;
        font-size: 0.8rem;
        color: $blue;
        letter-spacing: 0;
        line-height: 24px;

        @include medium {
            font-size: 1rem;
        }

        &:hover {
            opacity: 0.2;
        }

        &:active {
            color: black;
        }
    }
}