.gamme {
  margin-top: 15%;

  &__surtitre {
    text-align: center;
    @include surtitre;
    padding-top: 0;
    margin-bottom: 2%;
    //margin-top: -5%;
    p {
      margin-bottom: 1%;
    }

  }
  &__title {
    @include title;
    @include medium { //plus de 800 px
      font-size: 2rem;
      width: 70%;
    }

    p {
      margin: 0;
    }
  }

  &__trait {
    @include trait;

  }

  &__produit { // Toute la gamme
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5%;

  }

  &__presentation { // chaque produit individuel
    width: 50%;
    margin: auto;
    padding-top: 8%;
    padding-bottom: 5%;
    text-align: center;
    @include medium { //plus de 800 px
      width: 30%
    }

  }


  &__name {
    @include littleTitle;


    p {
      margin: 2%;
    }

    &:hover {
      color: rgba(24, 53, 116, 0.74);
    }
    &:active {
      color: black;
    }

  }


  img {
    width: 85%;
  }

  &__knowMore {
    font-family:$typoSansSerif;
    font-size: 0.8rem;
    color: $blue;
    letter-spacing: 0;
    line-height: 24px;
    @include medium { //plus de 800 px
      font-size: 1rem;

    }
    &:hover {
      opacity: 0.2;
    }
    
    &:active {
      color: black;
    }
  }
}
