.product {
  margin-top: 5%;
  background-color: rgb(255, 255, 255);

    // back QUI APPARAIT EN DESKTOP
    &__back {
      display: none;

      @include large {
        display: block;
        position: absolute;
        opacity: 0.1;
        background: #616576;
        height: 83%;
        width: 30%;
        margin-top: 5%;
      }

    }

        /*     "Délices" en transversal sur bloc gris     */
    &__title {

      display: none;
      @include large { // plus de 1018px
        /* Délices: */
        display: block;
        font-family: $typoSerif;
        font-size: 9rem;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.5;
        position: relative;
        left: -23%;
        top: 25%;


        p {
          writing-mode: vertical-lr;
          text-align: center;


        }
      };
    }

    &__box img {
    	width: 100%;
      margin-top: 20%;

      @include medium { //box quand plus de 800 px
        width: 60%;
        margin-top: -15%;
        margin-left: -3%
      };

      @include large{ // plus de 1018px
        margin-left: -2%;
      };
    }


  /*           [de.lis]:             */
    &__bigTitle {
      display: none;

      @include medium{
        /* [de.lis]: */
      display: block;
      font-family: $typoSerif;
      font-size: 6rem;
      text-align: right;
      text-transform: uppercase;
      color: rgba(#505467, 0.19);
      opacity: 0.38;
      position: relative;
      margin: 0;
      margin-top: -5%;
      margin-right: 10%;
      }

    }

    &__bloctext {
      margin-top: -5%;
    }

    &__text {
      // VERSION MOBILE
    	width: 70%;
    	height: auto;
    	background-color: #FFFFFF;
    	margin-left: 40%;
      padding-right: 0;
      text-align: center;

        .1 {
          display: none;

          @include medium {
            display: block;
          };
        }

        @include medium { // partie texts a plus de 800 px
          width: 40%;
          margin-left: 50%;
          margin-top: -7%;
          margin-right: 15%;
          margin-bottom: 0;
          padding-left: 10%;
          padding-right: 0%;
          padding-bottom: 5%;
          position: relative;
          top: -200px;
          text-align: left;

        }

        @include large {
          top: -400px;

        }
      }

      &__surtitre { // mobile
        font-size: 0.8rem;
        text-transform: uppercase;
        font-family: $typoSerif, serif;
        color: $grey;
        margin-top: 8%;


        @include medium { //plus de 800 px

        }

      }

      &__trait {
        width: 23px;
        height: 1px;
        margin: auto;
        background: #767676;

        @include medium { //plus de 800 px
        margin-left: -10%;
        top: -20px;
        position: relative;
        width: 18px;
        };
      }


      h4 { //mobile
        font-size: 2rem;
        text-transform: uppercase;
        color: $blue;
        font-family: $typoSansSerif;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0%;

        @include medium { //plus de 800 px
          font-size: 1.5rem;

        };
      }

      &__content { // mobile
        font-size: 1rem;
        font-family: $typoSansSerif;
        font-weight: lighter;
        color: $blue;
        letter-spacing: 0;
        line-height: 24px;
        margin-right: O;

        @include medium { //plus de 800px
            font-size: 0.9rem;
            width: 90%;

        }
      }

}

.visible .product__bigTitle {
  animation: moveTitle 2s ease-in-out forwards;
}

@keyframes moveTitle {
  0% {
    transform: translate(50%);
    opacity: 0;
  }
  100% {
    transform: 0;
    color:rgba(#505467, 0.35);
  }
}

.visible .product__back {
  animation: moveBloc 2s ease-in-out forwards;
}

@keyframes moveBloc {
  0% {
    transform: translate(-50%);
    opacity: 0;
  }
  100% {
    transform: 0;
    color:rgba(#505467, 0.35);
  }
}

.visible .product__bloctext {
animation: moveText 1.5s ease-in-out forwards;
}

@keyframes moveText {
  0% {
    transform: translate(50%);
  }
  100% {
    transform: 0;
  }
}
