@mixin quotationQuote() {
      animation-name: opacity, mouvement;
      animation-duration: 8s, 10s;
      animation-iteration-count: 1, infinite;
      animation-direction: normal, alternate;
      animation-fill-mode: forwards;
      animation-timing-function: linear, linear;
}

.quotation {
    text-align: center;
  	padding: 100px 60px 100px 60px;
  	position : relative;

    @include medium {
      margin-top: 5%;
    }
    //text-align: center;

    &__surtitre {
      @include surtitre;
      @include medium {
        margin-top: -10%;
      }
    }

    &__block {

    }

    &__quote {
      //position: relative;
      font-size: 20rem;
      position : absolute;
      top: 100px;
      left: 0;
      width : 120px;

      p {
        color: $grey;
      }

      @include medium{
        font-size: 40rem;
        height: 30%;
      }

      &--open {

      }

      &--close {
        position : absolute;
      	bottom: 80px;
      	right: 0;
      }

      &:first-child.active {
          @include quotationQuote();
      }

      &:last-child.active {
          @include quotationQuote();
          animation-delay: 0s, 2s;
      }
    }

    &__text {
        font-size: 4rem;
        width: 70%;
        color:  #0E215D;
        font-size : 4rem;
      	margin-top : 20px;
    }
}

@keyframes opacity {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes mouvement {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(3deg);}
    50% {transform:rotate(0deg) translateY(2px) translateX(3px);}
    75% {transform:rotate(-3deg);}
    100% {transform:rotate(0deg) translateY(-2px) translateX(-3px);}
}
