
// ANIMATIONS //
@mixin quotationMove() {
      animation-name: opacity, mouvement;
      animation-duration: 3s, 10s;
      animation-iteration-count: 1, infinite;
      animation-direction: normal, alternate;
      animation-fill-mode: forwards;
      animation-timing-function: linear, linear;
}


@keyframes opacity {
    0%   {opacity: 0;}
    100% {opacity: 0.1;}
}

@keyframes mouvement {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(5deg);}
    50% {transform:rotate(0deg) translateY(3px) translateX(4px);}
    75% {transform:rotate(-5deg);}
    100% {transform:rotate(0deg) translateY(-3px) translateX(-4px);}
}

// CSS   //
.quotation {
  text-align: center;
  position : relative;
  padding: 30px 20px 20px 0px;
  margin-top: 30%;
  margin-bottom: 20%;

  &__surtitre {
    @include surtitre;
  }

  &__text {
    font-size: 4.7rem;
    color:  #0E215D;
    margin-top : 20px;
      @include medium {
        font-size: 3.7rem;
      }

      &:before{
      content: "“";
      position: absolute;
      top: 0px;
      line-height: 0.8;
      left: 0;
      z-index: -2;
      opacity: 0.1;
      font-size: 38rem;
      }

      &:after{
      content: "”";
      position: absolute;
      bottom: -60px;
      right:0;
      line-height: 0;
      opacity: 0.1;
      z-index: -2;
      font-size: 38rem;
    }
  }
}
.quotation__text.active {
  &:before {
      @include quotationMove;
  }
  &:after {
    @include quotationMove;
    animation-delay: 0s,  2s;
  }
}
