.splashScreen {
    height: 100%;
    background: $blue;

    &__title {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__flowers {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            position: absolute;
            transition: 1s;

            &:nth-child(1) { // grande haut gauche
                top: -10%;
                left: 2%;
                width:15%;
            }

            &:nth-child(4) { // petite haut droite
              transform: rotate(30deg);
              transform-origin: top right;
              top: -50px;
              right: 50px;
              width: 20%;
            }

            &:nth-child(2) { // petite bas gauche
              transform: rotate(50deg);
              bottom: -50px;
              left: -150px;
              transform-origin: bottom;
              width: 20%;
              @include large { // plus de 1018px
              }
            }

            &:nth-child(3) { // grande bas droite
                transform: rotate(-45deg);
                bottom: 100px;
                right: -100px;
                transform-origin: bottom right;
                width: 20%;
                @include large { // plus de 1018px
                }
            }
      }
    }

    &__scroll {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 40%;
      margin: auto;
      position: relative;
      bottom: 5%;
      }

  &__line {
      width: 20px;
      height: 1px;
      background: $grey;
    }

    :nth-child(2) {
      order: 3;
    }

  &__text {
    order: 2;
    font-family: Lato;
    font-size: 12px;
    font-weight: lighter;
    color: #F5F6F9;
    }
  }


.leave .splashScreen__flowers {
    img:nth-child(1) {
        transform: translate(-200px, -450px);
    }

    img:nth-child(2) {
        transform: translate(200px, 450px);
    }

    img:nth-child(3) {
        transform: translate(200px, 450px);
    }

    img:nth-child(4) {
        transform: translate(-200px, -500px);
    }
}

.leave .splashScreen__scroll {
  opacity: 0;
}
