/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$blue: #1e243c;
$lightColor:#c8c8c8;
$grey: #c3c3c3;
$typoSerif: "Playfair Display", serif;
$typoSansSerif: "Lato", sans-serif;
$typoQuote:'Great Vibes','Rozha One', serif;

$medium: 600px;
$large: 1024px;

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin surtitre {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: $typoSerif, serif;
  color: $grey;
  padding-top: 15%;

  @include medium { //plus de 800 px
    margin-top: 8%;
  }
}

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html, body {
    height: 100%;
}




/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "splashScreen";

@import "quotations";

@import "parallaxProduit";

@import "presentSlider";
